.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
/.idea/gradle.xml
/.idea/misc.xml
.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/modules.xml
/.idea/*
/app/app.iml
GGD_Groep_9.iml